@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}
body{
	background-color: lightgray;
}
h1{ font-size: 3.5em; text-align: center;}


.card{
	background-color: white;
	color: #222;
	padding: 3.5em 1em;
	border-radius: 0.6em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


.card  .img-container{
	width: 8em;
	height: 8em;
	border : 10px solid #a993ff;
	border-radius: 50%;
	margin-bottom: 2em;	
}
.card img{
	border-radius: 50%;
	width: 100%;
}

.card p {
	font-weight: lighter;
	text-transform: uppercase;
	margin: 0.5em 0 2em 0 ;
	letter-spacing: 2px;	
}

.card:hover{
	background-color: #8567f7;
	color: white;
}
.column{
	width: 90%;
	padding: 0.5em 0 ;	
	margin: 0px auto;
}

/* 1024이상 일때 가로줄로 만들어 주세요  */
@media screen and (min-width:1024px){
	.row{
		display: flex;
		flex-wrap: wrap;
		padding: 2em 1em;
		text-align: center;
	}
	.card{
	  padding: 5em 1em;
	}
	
	.column{
		flex: 0 0 33.33%;  /* 0 -> 기본 크기 유지(자동확장X), 0-> 수축도 하지 않음 */
		max-width: 33.33%; /* 최대너비가 33.33%이다. */
		padding: 0 1em;
	}
}