@charset "UTF-8";


/* 여기는 fixed안하므로 .thumbs안써도 되는듯..? */
.thumbs_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	margin: 60px 0 0 200px; /* 상 우 하 좌 */ 
	padding: 20px 0 0 10xp;
}

.thumbs_item{
	width: 25%;  /* 한줄에 4개 */
	margin: 0 0 15px 0 ;
	padding: 0 10px;
}
.thumbs_img{
	max-width: 100%; /* 원래 크기를 넘지 못함 */
	margin: 0 0 15px 0 ;
}
.thumbs_info{
	display: flex;
	align-items: center;
}
.thumbs_profile{
	width: 40px;
	height: 40px;
	background-image:url('../images/profile-m.png');
	background-size: 40px 40px;
}
.thumbs_text{
	/* margin-left: 10px; */
	padding-left: 10px;
	margin-bottom: 0.5em;
}

.thumbs_text > h3{
  font-size: 1.2em;
  margin-bottom: 0.5em;	
}

.thumbs_text > p{
  font-size: 1.0em;
  margin-bottom: 0.5em;	
}

/* 1200px 이하  */
@media screen and (max-width:1200px){
	.thumbs_item{width:  33.3%}
}

/* 800px 이하 */
@media screen and (max-width:800px){
	.thumbs_item{width:  50%}
	/* nav 가 200px - 50px   */
	.thumbs_wrapper{
		margin: 60px 0 0 60px;
	}
}

/*  460px 이하 */
@media screen and (max-width:460px){
	.thumbs_item{width:  100%}
	
}