<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ex01</display-name>
    <servlet-name>Ex01</servlet-name>
    <servlet-class>com.ict.day01.Ex01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01</servlet-name>
    <url-pattern>/Ex01</url-pattern>
  </servlet-mapping>
  <display-name>02_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ex02</display-name>
    <servlet-name>Ex02</servlet-name>
    <servlet-class>com.ict.day01.Ex02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03</display-name>
    <servlet-name>Ex03</servlet-name>
    <servlet-class>com.ict.day01.Ex03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03</servlet-name>
    <url-pattern>/Ex03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex04</display-name>
    <servlet-name>Ex04</servlet-name>
    <servlet-class>com.ict.day02.Ex04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex04</servlet-name>
    <url-pattern>/Ex04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex05</display-name>
    <servlet-name>Ex05</servlet-name>
    <servlet-class>com.ict.day02.Ex05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex05</servlet-name>
    <url-pattern>/Ex05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex06</display-name>
    <servlet-name>Ex06</servlet-name>
    <servlet-class>com.ict.day02.Ex06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex06</servlet-name>
    <url-pattern>/Ex06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex07</display-name>
    <servlet-name>Ex07</servlet-name>
    <servlet-class>com.ict.day02.Ex07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex07</servlet-name>
    <url-pattern>/Ex07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex08</display-name>
    <servlet-name>Ex08</servlet-name>
    <servlet-class>com.ict.day02.Ex08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex08</servlet-name>
    <url-pattern>/Ex08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex08_2</display-name>
    <servlet-name>Ex08_2</servlet-name>
    <servlet-class>com.ict.day02.Ex08_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex08_2</servlet-name>
    <url-pattern>/Ex08_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex09</display-name>
    <servlet-name>Ex09</servlet-name>
    <servlet-class>com.ict.day02.Ex09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex09</servlet-name>
    <url-pattern>/Ex09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex10</display-name>
    <servlet-name>Ex10</servlet-name>
    <servlet-class>com.ict.day03.Ex10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex10</servlet-name>
    <url-pattern>/Ex10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex11</display-name>
    <servlet-name>Ex11</servlet-name>
    <servlet-class>com.ict.day04.Ex11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex11</servlet-name>
    <url-pattern>/Ex11</url-pattern>
  </servlet-mapping>
</web-app>